/* Color Theme Swatches in Hex */
.comida-mexicana-tradicional,-cocina-latinoamericana,-ingredientes-de-salsa-en-molcajete,-espacio-para-texto--1-hex { color: #365902; }
.comida-mexicana-tradicional,-cocina-latinoamericana,-ingredientes-de-salsa-en-molcajete,-espacio-para-texto--2-hex { color: #D9A273; }
.comida-mexicana-tradicional,-cocina-latinoamericana,-ingredientes-de-salsa-en-molcajete,-espacio-para-texto--3-hex { color: #BF8969; }
.comida-mexicana-tradicional,-cocina-latinoamericana,-ingredientes-de-salsa-en-molcajete,-espacio-para-texto--4-hex { color: #BF3604; }
.comida-mexicana-tradicional,-cocina-latinoamericana,-ingredientes-de-salsa-en-molcajete,-espacio-para-texto--5-hex { color: #590202; }

/* Color Theme Swatches in RGBA */
.comida-mexicana-tradicional,-cocina-latinoamericana,-ingredientes-de-salsa-en-molcajete,-espacio-para-texto--1-rgba { color: rgba(54, 89, 1, 1); }
.comida-mexicana-tradicional,-cocina-latinoamericana,-ingredientes-de-salsa-en-molcajete,-espacio-para-texto--2-rgba { color: rgba(216, 162, 114, 1); }
.comida-mexicana-tradicional,-cocina-latinoamericana,-ingredientes-de-salsa-en-molcajete,-espacio-para-texto--3-rgba { color: rgba(191, 136, 105, 1); }
.comida-mexicana-tradicional,-cocina-latinoamericana,-ingredientes-de-salsa-en-molcajete,-espacio-para-texto--4-rgba { color: rgba(191, 53, 3, 1); }
.comida-mexicana-tradicional,-cocina-latinoamericana,-ingredientes-de-salsa-en-molcajete,-espacio-para-texto--5-rgba { color: rgba(89, 1, 1, 1); }

/* Color Theme Swatches in HSLA */
.comida-mexicana-tradicional,-cocina-latinoamericana,-ingredientes-de-salsa-en-molcajete,-espacio-para-texto--1-hsla { color: hsla(84, 96, 17, 1); }
.comida-mexicana-tradicional,-cocina-latinoamericana,-ingredientes-de-salsa-en-molcajete,-espacio-para-texto--2-hsla { color: hsla(28, 57, 65, 1); }
.comida-mexicana-tradicional,-cocina-latinoamericana,-ingredientes-de-salsa-en-molcajete,-espacio-para-texto--3-hsla { color: hsla(22, 40, 58, 1); }
.comida-mexicana-tradicional,-cocina-latinoamericana,-ingredientes-de-salsa-en-molcajete,-espacio-para-texto--4-hsla { color: hsla(16, 96, 38, 1); }
.comida-mexicana-tradicional,-cocina-latinoamericana,-ingredientes-de-salsa-en-molcajete,-espacio-para-texto--5-hsla { color: hsla(0, 96, 17, 1); }
