body {
    text-align: center;
    background-image: url(https://www.gov.br/saude/pt-br/assuntos/saude-brasil/glossario/comida-de-verdade/wiki-4-comida-de-verdade.png/@@images/02dd266a-0b6d-4963-91c0-bf418ae1d4dc.png);
    height: 100%;
}

#titulo{
    font-family: serif;
    text-shadow: 1px 1px 1px;
}

a:hover{
    color: #680303;
    cursor: pointer;
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-image: linear-gradient(to top, #BF3604, #ff4907);
    padding: 1px;
    width: 600px; 
    margin: auto;
}

main {
    background-color: #BF8665;
    padding: 1px;
    text-align: center;
    width: 600px;
    margin: auto;
}

footer {
    background-color: #365902;
    padding: 1px;
    margin: auto;
    width: 600px;
}

#cursos{
    text-align: left;
}

.navega{ 
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    padding: 1px;
}

.redessoci{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 1px;
    justify-content: space-evenly
    ;
}

a{
    color: Black;
    text-decoration: none;
}

strong{
    color: #590202;
}

